<?php

// Base directory
define('DIR', __DIR__ );

// URL where the project is hosted
define('URL', '');

// Server name
define('DB_SERVER_NAME', '');

// Database name
define('DB_NAME', '');

// Database username
define('DB_USERNAME', '');

// Database password
define('DB_PASSWORD', '');

// Database username
define('USERNAME', '');

// Database password
define('PASSWORD', '');

// Shop manager email
define('MANAGER_EMAIL', '');
