<?php

/* URL where the project is hosted */
define('URL', '');

/* server name */
define('SERVER_NAME', '');

/* database name */
define('DB_NAME', '');

/* database username */
define('DB_USERNAME', '');

/* database password */
define('DB_PASSWORD', '');

/* admin name */
define('USERNAME', '');

/* admin password */
define('PASSWORD', '');

/* shop manager email */
define('MANAGER_EMAIL', '');
